In [1]:
import pandas as pd 
import numpy as np

In [11]:
#csvファイルの読み込み
iris = pd.read_csv("./iris_csvFile/iris-E100.csv")

In [12]:
iris

,sepal_length,sepal_width,petal_length,petal_width,cluster,u0,u1,u2
0,5.1,3.500000,1.4,0.2,2.0,-2.187419e-10,-1.551752e-10,1.000000e+00
1,4.9,3.000000,1.4,0.2,2.0,-2.191485e-10,-1.501515e-10,1.000000e+00
2,4.7,3.200000,1.3,0.2,2.0,-2.213021e-10,-1.648261e-10,1.000000e+00
3,4.6,3.100000,1.5,0.2,2.0,-2.195505e-10,-1.511337e-10,1.000000e+00
4,5.0,3.600000,1.4,0.2,2.0,-2.193717e-10,-1.590264e-10,1.000000e+00
...,...,...,...,...,...,...,...,...
147,6.5,3.000000,5.2,2.0,0.0,1.000000e+00,4.507358e-10,-2.154720e-10
148,6.2,3.400000,5.4,2.3,0.0,1.000000e+00,2.610254e-10,-2.181276e-10
149,5.9,3.000000,5.1,1.8,0.0,1.000000e+00,8.125019e-09,-2.051319e-10
150,J,inf,NaN,NaN,NaN,NaN,NaN,NaN
151,F,81.385144,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
iris = iris.loc[0:149]
iris

,sepal_length,sepal_width,petal_length,petal_width,cluster,u0,u1,u2
0,5.1,3.5,1.4,0.2,2.0,-2.187419e-10,-1.551752e-10,1.000000e+00
1,4.9,3.0,1.4,0.2,2.0,-2.191485e-10,-1.501515e-10,1.000000e+00
2,4.7,3.2,1.3,0.2,2.0,-2.213021e-10,-1.648261e-10,1.000000e+00
3,4.6,3.1,1.5,0.2,2.0,-2.195505e-10,-1.511337e-10,1.000000e+00
4,5.0,3.6,1.4,0.2,2.0,-2.193717e-10,-1.590264e-10,1.000000e+00
...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0.0,1.000000e+00,2.323658e-10,-2.187839e-10
146,6.3,2.5,5.0,1.9,0.0,1.000000e+00,2.632210e-09,-2.095636e-10
147,6.5,3.0,5.2,2.0,0.0,1.000000e+00,4.507358e-10,-2.154720e-10
148,6.2,3.4,5.4,2.3,0.0,1.000000e+00,2.610254e-10,-2.181276e-10
149,5.9,3.0,5.1,1.8,0.0,1.000000e+00,8.125019e-09,-2.051319e-10

In [6]:
iris = iris[["u0","u1","u2"]]

In [9]:
iris = iris.loc[0:149]

In [10]:
iris

               u0            u1            u2
0   -2.187419e-10 -1.551752e-10  1.000000e+00
1   -2.191485e-10 -1.501515e-10  1.000000e+00
2   -2.213021e-10 -1.648261e-10  1.000000e+00
3   -2.195505e-10 -1.511337e-10  1.000000e+00
4   -2.193717e-10 -1.590264e-10  1.000000e+00
..            ...           ...           ...
145  1.000000e+00  2.323658e-10 -2.187839e-10
146  1.000000e+00  2.632210e-09 -2.095636e-10
147  1.000000e+00  4.507358e-10 -2.154720e-10
148  1.000000e+00  2.610254e-10 -2.181276e-10
149  1.000000e+00  8.125019e-09 -2.051319e-10

[150 rows x 3 columns]